<a href="https://colab.research.google.com/github/Nadiyapathan/pyspark/blob/main/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

CREATING DATAFRAME

importing pyspark sql

In [15]:
from pyspark.sql import *

CREATE THE STUDENTS

In [7]:
student=Row("firstname","lastname","age","Email","rollnumber")

In [12]:
student1=student("nadiya","pathan",32,"nadiya.pathan560@gmail.com",21560)
student2=student("nadi","shaik",35,"nadi.shaik560@gmail.com",21510)
student3=student("bujji","mohammad",23,"bujji.pathan@gmail.com",21540)
student4=student("diya","lucky",30,"diya.lucky60@gmail.com",21545)
student5=student("ayyan","yusuf",12,"ayaan.yusuf555@gmail.com",21555)

In [29]:
department=Row("id","name")

CREATE THE DEPARTMENTS

In [30]:
department1=Row(id='001',name='CSE')
department2=Row(id='002',name='EEE')
department3=Row(id='003',name='IT')
department4=Row(id='004',name='ECE')
department5=Row(id='001',name='CIVIL')

In [13]:
print(student1)

Row(firstname='nadiya', lastname='pathan', age=32, Email='nadiya.pathan560@gmail.com', rollnumber=21560)

CREATE THE DEPARTMENTWITHSTUDENTS INSTANCES

In [23]:
from pyspark.sql import Row

In [31]:
departmentwithstudent1=Row(  department = department1, student=[student1,student2])
departmentwithstudent2=Row(department = department2, student=[student2,student3])
departmentwithstudent3=Row(department = department3, student=[student3,student4])
departmentwithstudent4=Row(department = department4, student=[student4,student5])
departmentwithstudent5=Row(department = department5, student=[student5,student2])

In [32]:
print(departmentwithstudent4)

Row(department=Row(id='004', name='ECE'), student=[Row(firstname='diya', lastname='lucky', age=30, Email='diya.lucky60@gmail.com', rollnumber=21545), Row(firstname='ayyan', lastname='yusuf', age=12, Email='ayaan.yusuf555@gmail.com', rollnumber=21555)])

CREATING DATAFRAME

In [37]:
departmentwithstudent=(departmentwithstudent1,departmentwithstudent2,departmentwithstudent3)

In [33]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc=SparkContext.getOrCreate()
spark=SparkSession(sc)

In [38]:
df=spark.createDataFrame(departmentwithstudent)

Display dataframe

In [39]:
display(df)

DataFrame[department: struct<id:string,name:string>, student: array<struct<firstname:string,lastname:string,age:bigint,Email:string,rollnumber:bigint>>]

Data FRAME from csv

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('create dataframe from csv file').getOrCreate()

In [39]:
dis_df = spark.read.csv(path=r"/content/discounts.csv",header=True)

In [40]:
dis_df.show()

+----------+----------+-------+--------------------+---------+--------------------+
|     Start|       End|Discont|         Description| Category|        Sub Category|
+----------+----------+-------+--------------------+---------+--------------------+
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Feminine|   Coats and Blazers|
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Feminine|Sweaters and Knit...|
|2020-01-01|2020-01-10|    0.4|40% discount duri...|Masculine|   Coats and Blazers|
|2020-01-01|2020-01-10|    0.4|40% discount duri...|Masculine|Sweaters and Swea...|
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Children|               Coats|
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Children|            Sweaters|
|2020-03-15|2020-03-31|   0.35|35% discount duri...| Feminine|Dresses and Jumps...|
|2020-03-15|2020-03-31|   0.35|35% discount duri...| Feminine|  Shirts and Blouses|
|2020-03-15|2020-03-31|   0.35|35% discount duri...|Masculine|  T-shirts and Polos|
|2020-03-15|2020-03-31|   0.35|35% discount duri...|Masculine|              Shirts|
|2020-03-15|2020-03-31|   0.35|35% discount duri...| Children|Girl and Boy (1-5...|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Feminine|   T-shirts and Tops|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Feminine|   Skirts and Shorts|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Feminine|Dresses and Jumps...|
|2020-05-01|2020-05-15|   0.25|25% discount duri...|Masculine|  T-shirts and Polos|
|2020-05-01|2020-05-15|   0.25|25% discount duri...|Masculine|     Pants and Jeans|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Children|Girl and Boy (1-5...|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Children|             Pajamas|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Children|         Accessories|
|2020-09-01|2020-09-15|   0.45|45% discount duri...| Feminine|Dresses and Jumps...|
+----------+----------+-------+--------------------+---------+--------------------+
only showing top 20 rows

In [30]:
dis_df.count()

182

In [41]:
dis_df.columns

['Start', 'End', 'Discont', 'Description', 'Category', 'Sub Category']

In [32]:
len(dis_df.columns)

6

In [43]:
dis_df.describe('start').show()

+-------+----------+
|summary|     start|
+-------+----------+
|  count|       181|
|   mean|      NULL|
| stddev|      NULL|
|    min|2020-01-01|
|    max|2025-03-15|
+-------+----------+

In [45]:
dis_df.describe('end').show()

+-------+----------+
|summary|       end|
+-------+----------+
|  count|       181|
|   mean|      NULL|
| stddev|      NULL|
|    min|2020-01-10|
|    max|2025-03-31|
+-------+----------+

In [48]:
dis_df.filter(dis_df.Discont>0.45).count()

10

In [50]:
dis_df.orderBy(dis_df.Start).show()

+----------+----------+-------+--------------------+---------+--------------------+
|     Start|       End|Discont|         Description| Category|        Sub Category|
+----------+----------+-------+--------------------+---------+--------------------+
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Feminine|   Coats and Blazers|
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Feminine|Sweaters and Knit...|
|2020-01-01|2020-01-10|    0.4|40% discount duri...|Masculine|   Coats and Blazers|
|2020-01-01|2020-01-10|    0.4|40% discount duri...|Masculine|Sweaters and Swea...|
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Children|               Coats|
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Children|            Sweaters|
|2020-03-15|2020-03-31|   0.35|35% discount duri...| Feminine|Dresses and Jumps...|
|2020-03-15|2020-03-31|   0.35|35% discount duri...| Feminine|  Shirts and Blouses|
|2020-03-15|2020-03-31|   0.35|35% discount duri...|Masculine|  T-shirts and Polos|
|2020-03-15|2020-03-31|   0.35|35% discount duri...|Masculine|              Shirts|
|2020-03-15|2020-03-31|   0.35|35% discount duri...| Children|Girl and Boy (1-5...|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Feminine|   T-shirts and Tops|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Feminine|   Skirts and Shorts|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Feminine|Dresses and Jumps...|
|2020-05-01|2020-05-15|   0.25|25% discount duri...|Masculine|  T-shirts and Polos|
|2020-05-01|2020-05-15|   0.25|25% discount duri...|Masculine|     Pants and Jeans|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Children|Girl and Boy (1-5...|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Children|             Pajamas|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Children|         Accessories|
|2020-09-01|2020-09-15|   0.45|45% discount duri...| Feminine|Dresses and Jumps...|
+----------+----------+-------+--------------------+---------+--------------------+
only showing top 20 rows

In [55]:
dis_df.printSchema()

root
 |-- Start: string (nullable = true)
 |-- End: string (nullable = true)
 |-- Discont: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub Category: string (nullable = true)