<a href="https://colab.research.google.com/github/Nadiyapathan/pyspark/blob/main/Tungsten_%26_Catalyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from pyspark.sql import SparkSession

Spark=SparkSession.builder.appName("Pyspark").getOrCreate()

In [5]:
data=[("nadi",32),("Jabi",39),("Ayesha",6),("Ayaan",3)]
columns=["Name","Age"]
df = Spark.createDataFrame(data,columns)
df.show()

+------+---+
|  Name|Age|
+------+---+
|  nadi| 32|
|  Jabi| 39|
|Ayesha|  6|
| Ayaan|  3|
+------+---+

In [6]:
from pyspark.sql.functions import col

large_df = Spark.range(1, 1000000)
result_df=large_df.select((col("id")*2).alias("double_id"))
result_df.show(10)

+---------+
|double_id|
+---------+
|        2|
|        4|
|        6|
|        8|
|       10|
|       12|
|       14|
|       16|
|       18|
|       20|
+---------+
only showing top 10 rows

In [9]:
df.createOrReplaceTempView("people")


optimized_df = Spark.sql("Select name from people where age>30")
optimized_df.show()

+----+
|name|
+----+
|nadi|
|Jabi|
+----+

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit

In [12]:
spark =SparkSession.builder.appName("pysparkPractice").getOrCreate()

data =[("John","Engineering",633333),("nadi","Marketing",75000),("sonu","Finance",500000)]
columns=["Name","Department","Salary"]

In [16]:
df = spark.createDataFrame(data, columns)
df.show()

+----+-----------+------+
|Name| Department|Salary|
+----+-----------+------+
|John|Engineering|633333|
|nadi|  Marketing| 75000|
|sonu|    Finance|500000|
+----+-----------+------+

In [18]:
df_filtered=df.filter(col("Salary")>70000)
df_filtered.show()

+----+-----------+------+
|Name| Department|Salary|
+----+-----------+------+
|John|Engineering|633333|
|nadi|  Marketing| 75000|
|sonu|    Finance|500000|
+----+-----------+------+

In [19]:
df_with_bouns=df.withColumn("Bonus",col("Salary")*0.1)
df_with_bouns.show()

+----+-----------+------+-------+
|Name| Department|Salary|  Bonus|
+----+-----------+------+-------+
|John|Engineering|633333|63333.3|
|nadi|  Marketing| 75000| 7500.0|
|sonu|    Finance|500000|50000.0|
+----+-----------+------+-------+

In [20]:
df_with_new_col = df.withColumn("Location", lit("New York"))
df_with_new_col.show()

+----+-----------+------+--------+
|Name| Department|Salary|Location|
+----+-----------+------+--------+
|John|Engineering|633333|New York|
|nadi|  Marketing| 75000|New York|
|sonu|    Finance|500000|New York|
+----+-----------+------+--------+